.hero {
    height: calc(100vh - 5vh);
    position: relative;
    width: 100%;

}
.header {
  padding-top: 10%;

}

.form-input-error {
  color:red;
  font-size:1rem;
}

@media (min-width:768px) {
  .header-blue .hero {
    /* margin-top: 60px; */
    text-align: left;
  }
}

.hero h1 {
  color: #fff;
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: 300;
  line-height: 1.4;
}

@media (min-width:992px) {
  .hero h1 {
    /*margin-top: 150px;*/
    margin-bottom: 24px;
    line-height: 1.2;
  }
}

.header-blue .hero p {
  color: rgba(255,255,255,0.8);
  font-size: 20px;
  margin-bottom: 30px;
  font-weight: 300;
}

.phone-holder {
  text-align: right;
}

div.iphone-mockup {
  position: relative;
  max-width: 300px;
  margin: 20px;
  display: inline-block;
}

.header-blue .iphone-mockup img.device {
  width: 100%;
  height: auto;
}

.header-blue .iphone-mockup .screen {
  position: absolute;
  width: 88%;
  height: 77%;
  top: 12%;
  border-radius: 2px;
  left: 6%;
  border: 1px solid #444;
  background-color: #aaa;
  overflow: hidden;
  /* background: url(../../assets/img/screen-content-iphone-6.jpg); */
  background-size: cover;
  background-position: center;
}

.header-blue .iphone-mockup .screen:before {
  content: '';
  background-color: #fff;
  position: absolute;
  width: 70%;
  height: 140%;
  top: -12%;
  right: -60%;
  transform: rotate(-19deg);
  opacity: 0.2;
}

ul li {
  color: #fff;
  font-size: 16px;
}
.main-samples  {
  margin-top: 40px;
  
  opacity: 0.5;
  color:#fff;
  font-size: 17px;
  /* text-align: center; */
}
.hero-header  {
  margin: 0;
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);  
}
.hero a {
  text-decoration: none;
  color:#fff;
}

.search {
  /* width: 80%; */
}
.hero-header {
  width: 80%;
  margin: auto;
}

.go {
  height: 100%;
}